* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-body-bg: #1c1c1c;
  --c-black: #262626;
  --c-white: #FFFFFF;
  --c-primary: #F9DF36;
  --c-secondary: #9B9B9B;
  --c-gray: #C5C5C5;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--c-body-bg);
  font-family: 'Nunito', serif;
}